.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsPopUp {
  background-color: white;
  border-radius: 30px;
  width: 50%;
  padding: 0px 20px 30px 20px;
}

.detailsPopUp h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.detailsContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
  margin-top: 50px;
}

.detailsContent img {
  width: 200px;
  height: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close span {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 2px;
  background-color: black;
}

.close span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.imagePopUp {
  display: none;
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  background: white;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .detailsPopUp {
    width: 90%;
    height: 70%;
    top: 15%;
    left: 5%;
  }

  .detailsContent {
    flex-direction: column;
  }

  .detailsContent img {
    width: 150px;
    height: 150px;
  }
}
